// COLOR
$bg-color: #000;
$title-color: #fff;
$subt-color: #707070;
$gradient: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
$active-color: #3c82f4;

// FONT-FAMILY
$font: "Poppins", "Arial", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
// FONT-SIZE
