@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "components/navigation";
@import "sections/header";
@import "sections/hero";
@import "sections/steps";
@import "sections/work";
@import "sections/expert";
@import "sections/start";
@import "sections/footer";

@import "components/buttons";
