.btn {
  border-radius: 1.2rem;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $active-color;
  color: #fff;
  border-radius: 1.2rem;
  border: 1px solid transparent;
}
.outline-btn {
  background: transparent;
  color: $subt-color;
  border: 1px solid #707070;
}
