.expert {
  margin-bottom: 18.8rem;
  @include responsive(tablet) {
    margin-bottom: 10rem;
  }
  &-title {
    margin-bottom: 5.2rem;
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18.8rem;
    @include responsive(desktop) {
      margin-bottom: 8rem;
    }
  }
  img {
    max-width: 100%;
    height: 100%;
  }
  &-user {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 79.9rem;
    background-image: url("../images/users.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
      max-width: 123.6rem;
      width: 100%;
      @include responsive(desktop) {
        margin: 0 5rem;
      }
    }
    @include responsive(desktop) {
      height: 30rem;
    }
  }
}
