.hero {
  text-align: center;
  padding: 12.5rem 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18.8rem;
  @include responsive(desktop) {
    margin-bottom: 15rem;
  }
  @include responsive(tablet) {
    margin-bottom: 10rem;
  }
  .container {
    padding: 0;
  }
  &-title {
  }
  &-title-gr {
    margin-top: -4.1rem;
    margin-bottom: 13.6rem;
    background: $gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    @include responsive(max-desktop) {
      margin-bottom: 8rem;
    }
    @include responsive(med-desktop) {
      margin-top: 0;
      margin-bottom: 8rem;
    }
    @include responsive(max-phone) {
      font-size: 3rem;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title {
      color: $title-color;
      max-width: 69.4rem;
      margin-bottom: 5rem;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 2.6rem;
      margin-bottom: 2.1rem;
      @include responsive(max-phone) {
        flex-direction: column;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 31.3rem;
      font-size: 2rem;
      padding: 2.4rem 0;
      @include responsive(desktop) {
        width: 25rem;
        padding: 2rem 0;
      }
      @include responsive(tablet) {
        width: 20rem;
        padding: 1.8rem 0;
        font-size: 1.8rem;
      }
      @include responsive(max-phone) {
        max-width: 25rem;
        padding: 1.5rem 0;
        width: 100%;
      }
    }
    &__footer {
      display: flex;
      column-gap: 0.98rem;
      justify-content: center;
      align-items: center;
    }
    &__round {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 2.86rem;
      height: 2.86rem;
      background-color: rgba(15, 198, 92, 0.24);
    }
    &__circle {
      width: 1.71rem;
      height: 1.71rem;
      background-color: #0fc65c;
      border-radius: 50%;
    }
    &__subt {
      font-size: 2.5rem;
      line-height: normal;
      color: $subt-color;
      font-weight: 400;
      display: inline;
      @include responsive(tablet) {
        font-size: 1.8rem !important;
      }
      @include responsive(phone) {
        font-size: 1.5rem !important;
      }
      span {
        font-weight: 700;
        line-height: 1.52;
        color: $title-color;
      }
    }
  }
}
